body {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    background-color: aliceblue;
}

h1 {
    font-size: 40px;
}

#amountSold-color {
    color: green;
}

#amountBought-color {
    color: blue;
}

#tvsToBeSold-color {
    color: red;
}
